@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.prose {
  --prose-headings: rgb(15 23 42);
  --prose-bold: rgb(15 23 42);
  --prose-links: rgb(59 130 246);
}
